header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe des Headers mit Transparenz */
  color: #fff;
}
#logo {
  width: 100px; /* Hier die Breite deines Logos anpassen */
}
.button {
  padding: 10px 20px;
  background-color: #036914;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.button:hover {
  background-color: #095404;
}
main {
  padding: 20px;
  flex: 1;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hiermit wird sichergestellt, dass der Body mindestens die gesamte Höhe des Viewports einnimmt */
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.table1 {
  width: 50%;
  border-collapse: collapse;
}
.table2 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #fff; /* Schriftfarbe auf Weiß setzen */
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  color: #000; /* Schriftfarbe auf Schwarz setzen */
}
td {
  color: #fff; /* Schriftfarbe auf Weiß setzen */
}
aside {
  padding: 20px;
  margin-top: 20px;
}
.list {
  color: white;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form-container input[type="text"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
footer a {
  color: #036914;
  text-decoration: none;
  margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  #logo {
    width: 80px; 
    margin-bottom: 10px;
  }
  .button {
    width: 100%; 
    margin-left: 0; 
  }
  main {
    padding: 10px; 
  }
  .table1,
  .table2 {
    width: 100%; 
  }
}
